---
---

h1.about-title {
	margin-top: 4px;
	margin-bottom: 4px;

	font-size: 28px;

	color: #444444;
}
.side-bar {
	width: 110px;
	float: left;

	padding: 8px 0px;
	margin-right: 16px;
	border: 1px solid silver;

	a {
		padding: 6px 8px 6px 16px;
		display: block;

		color: #0366D6;
		text-decoration: none;
	}
	a:hover {
		color: #042A49;
	}
}
.content {
	margin-left: 138px;
}