---
---

@import "variables";
@import "highlight";

html {
	font-size: 100%;
}
body {
	margin: 0px;

	background-color: $color_mid_aubergine;

	font-size: 16px;
	font-family: $font_sans;
}

// public
a {
	color: $color_link;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
strong {
	color: $color_bold;
}
em {
	color: $color_italic;
}
blockquote {
	font-family: $font_serif;
	font-style: italic;
}
hr {
	border-color: $color_warm_grey;
	border-width: 0.5px;
}
h1 {
	margin-top: 4px;
	margin-bottom: 4px;

	color: $color_header;
}
h1.page-title a {
	font-size: 30px;
	color: $color_black;
}
h2 {
	margin-top: 4px;
	margin-bottom: 4px;

	color: $color_header;
}
h3 {
	margin-top: 4px;
	margin-bottom: 4px;

	color: $color_header;
}
h4 {
	margin-top: 4px;
	margin-bottom: 4px;

	color: $color_header;
}
h5 {
	margin-top: 4px;
	margin-bottom: 4px;

	color: $color_header;
}
code {
	font-family: $font_monospace;
}
ul, ol {
	margin-top: 4px;
	margin-bottom: 4px;
}
p {
	margin-top: 4px;
	margin-bottom: 16px;
}
img {
	width: 100%;
	height: auto;
}

// header
.header {
	border-bottom: 1px solid $color_black;
}
.title-bar {
	overflow: hidden;

	padding-top: 6px;
	padding-bottom: 6px;

	background: linear-gradient(to bottom, #444444, $color_cool_grey);

	text-align: center;

	img {
		margin-right: 4px;

		width: 24px;
		height: 24px;
		vertical-align: middle;
	}
}
.title-logo:hover {
	text-decoration: none;
}
.title-text {
	color: $color_white;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
}
.search-box {
	margin-left: 6px;
	margin-right: 6px;
	margin-top: 3px;
	margin-bottom: 3px;

	.search-input {
		margin: 0px;
		padding: 0px;
		border: 0px;
		border-radius: 8px;
		box-sizing: border-box;

		width: 240px;
		height: 24px;
		vertical-align: middle;
		max-width: calc(100% - 20px - 40px - 5px);
		
		background-color: $color_warm_grey;
		transition: width 0.5s;

		font-family: $font_sans;
	}
	.search-button {
		margin: 0px;
		padding: 0px;
		border: 0px;
		border-radius: 8px;

		width: 40px;
		height: 24px;
		vertical-align: middle;

		background-color: $color_warm_grey;

		font-family: $font_sans;
	}
	.search-button:hover {
		background-color: $color_warm_grey_30;
	}
}
.title-navigation {
	padding-left: 0px;
	padding-right: 0px;
	overflow: hidden;

	background-color: $color_warm_grey_30;

	text-align: center;

	a {
		padding-left: 4px;
		padding-right: 4px;

		color: $color_black;
		text-decoration: none;
		white-space: nowrap;
	}
	a:hover {
		background-color: $color_ubuntu_orange;
	}
}
.notice-bar {
	padding-left: 0px;
	padding-right: 0px;

	background-color: $color_warm_grey_30;

	color: $color_black;
	text-align: center;

	p {
		margin-top: 0px;
		margin-bottom: 0px;
	}
}

// container
.container-wrapper {
	margin: 0px;
	padding: 0px;

	background-color: #E8E6E4;
}
.container#main {
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	overflow: hidden;

	background-color: $color_white;
}

// footer
.wrapper-footer {
	float: bottom;
}
.footer {
	border-top: 1px solid $color_black;
	border-bottom: 3px solid $color_cool_grey;

	background-color: $color_warm_grey_30;

	text-align: center;

	p {
		margin: 0px;
	}
}