---
---

h1.page-subtitle {
	margin-top: 4px;
	margin-bottom: 0px;

	font-size: 20px;

	color: #444444;
}
h1.page-category {
	margin: 0px;

	font-size: 16px;

	a {
		color: #444444;
	}
}
h1.page-tag {
	margin-top: 0px;
	margin-bottom: 4px;

	font-size: 16px;

	a {
		color: #444444;
	}
}