---
---

@import "sidebar";

h1.series-title {
	margin-top: 4px;
	margin-bottom: 4px;

	font-size: 20px;

	color: #444444;
}
.remote-bar {
	.prev-post {
		float: left;
		white-space: nowrap;
	}
	.next-post {
		float: right;
		white-space: nowrap;
	}
}