---
---

@media(min-width: 600px) {
	// header
	.title-bar {
		padding-left: 9px;

		text-align: left;
	}
	.title-navigation {
		padding-left: 5px;
		padding-right: 5px;

		text-align: left;
	}
	.notice-bar {
		padding-left: 9px;
		padding-right: 5px;

		text-align: left;
	}

	// footer
	.footer {
		padding-left: 5px;
		padding-right: 5px;

		text-align: left;
	}
}