<div class="related-posts">
	{% if page.category %}
		<h2>카테고리의 최근 포스트</h2>
	{% else %}
		<h2>최근 포스트</h2>
	{% endif %}

	<ol>
		{% assign i = 0 %}

		{% for post in site.posts %}
			{% if page.category %}
				{% if page.category == post.category %}
				<li><a href="{{ post.url }}">{{ post.title }}</a> ({{ post.date | date: "%Y년 %-m월 %-d일" }})</li>
					{% assign i = i | plus: 1 %}
				{% endif %}
			{% else %}
			<li><a href="{{ post.url }}">{{ post.title }}</a> ({{ post.date | date: "%Y년 %-m월 %-d일" }})</li>
				{% assign i = i | plus: 1 %}
			{% endif %}
			{% if i >= 5 %}
				{% break %}
			{% endif %}
		{% endfor %}
	</ol>
</div>