// Colors
$color_white: #FFFFFF;
$color_black: #000000;

$color_ubuntu_orange: #E95420;
$color_mid_aubergine: #5E2750;

$color_warm_grey: #AEA79F;
$color_warm_grey_30: #E6E4E2;
$color_cool_grey: #333333;

$color_header: #C5005D;
$color_link: #0065AD;
$color_bold: #196E09;
$color_italic: #3795B7;

// Fonts
$font_monospace: "D2Coding", "D2 Coding", "D2 coding", "나눔고딕코딩", monospace;
$font_sans: "Noto Sans KR", "나눔고딕", sans-serif;
$font_serif: "Noto Serif KR", "나눔명조", serif;