---
layout: default
---

<html>
<head>
	<link rel="stylesheet" href="{{ site.baseurl }}/css/post.css" />
</head>
<body>
	<h1 class="page-title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
	<h1 class="page-subtitle">
		{% if page.subtitle %}
			{{ page.subtitle }} -
		{% endif %}
		{{ page.date | date: "%Y년 %-m월 %-d일" }}
	</h1>
	<h1 class="page-category">카테고리: <a href="{{ site.baseurl }}/categories/{{ page.category }}">
		{% for category in site.categories_korean %}
			{% capture category_first %}
				{{ category | first }}
			{% endcapture %}
			{% capture page_category %}
				{{ page.category }}
			{% endcapture %}

			{% if category_first == page_category %}
				{{ category | last }}
			{% endif %}
		{% endfor %}
	</a></h1>
	{% if page.tag %}
		<h1 class="page-tag">태그:
			{% assign i = 0 %}{% for tag in page.tag %}{% if i != 0 %}, {% endif %}{% assign i = i | plus: 1 %}<a href="{{ site.baseurl }}/tags#{{ tag }}">{{ tag }}</a>{% endfor %}
		</h1>
	{% endif %}
	<article class="content">
		{{ content }}
	</article>

	{% include comment.html %}
	{% include related_posts.html %}
</body>
</html>