---
layout: default
---

<html>
<head>
	<link rel="stylesheet" href="{{ site.baseurl }}/css/post.css" />
	<link rel="stylesheet" href="{{ site.baseurl }}/css/series.css" />
	<link rel="stylesheet" href="{{ site.baseurl }}/css/series_desktop.css" />
</head>
<body>
	<h1 class="page-title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
	{% assign target = site.categories[page.category] %}
	{% if page.layout != "series_content_post" %}
		{% include series_content.html %}
	{% endif %}
	<h1 class="page-subtitle">
		{% if page.subtitle %}
			{{ page.subtitle }} -
		{% endif %}
		{{ page.date | date: "%Y년 %-m월 %-d일" }}
	</h1>
	<h1 class="page-category">카테고리: <a href="{{ site.baseurl }}/categories/{{ page.category }}">
		{% for category_group in site.categories_korean %}
			{% for category in category_group.first.last %}
				{% if category.first.first == page.category %}
					{{ category.first.last }}
					{% break %}
				{% endif %}
			{% endfor %}
		{% endfor %}
	</a></h1>
	{% if page.tag %}
		<h1 class="page-tag">태그:
			{% assign i = 0 %}{% for tag in page.tag %}{% if i != 0 %}, {% endif %}{% assign i = i | plus: 1 %}<a href="{{ site.baseurl }}/tags#{{ tag }}">{{ tag }}</a>{% endfor %}
		</h1>
	{% endif %}
	<article class="content{% if page.series != null and page.layout != "series_content_post" %}-series{% endif %}">
		{{ content }}
		{% if page.series != null and page.layout != "series_content_post" %}
			{% include series_remote_bar.html %}
		{% endif %}
	</article>

	{% include comment.html %}
	<hr>
	{% include related_posts.html %}
</body>
</html>