---
layout: page
---

<html>
<head>
	<link rel="stylesheet" href="{{ site.baseurl }}/css/series.css" />
	<link rel="stylesheet" href="{{ site.baseurl }}/css/series_desktop.css" />
</head>
<body>
	<aside class="side-bar" id="series">
		{% for post in site.pages %}
			{% if post.layout == "series_content" and post.series == page.series %}
				<ul><li><a href="{{ post.url }}">목차</a></li></ul>
				{% break %}
			{% endif %}
		{% endfor %}
		<ol>
			{% for post in site.pages %}
				{% if post.layout == "series" and post.series == page.series %}
					{% if post.group != null and post.group != prev_group %}
						{% assign prev_group = post.group %}
						<p class="series-group"><strong>{{ prev_group }}</strong></p>
					{% endif %}
					<li><a href="{{ post.url }}">{{ post.subtitle }}</a></li>
				{% endif %}
			{% endfor %}
		</ol>
	</aside>
	<h1 class="series-title">{{ page.subtitle }}</h1>
	<article class="content" id="content-series">
		{{ content }}
		<aside class="remote-bar">
			{% if page.series_index > 0 %}
				{% assign prev_page_index = page.series_index | minus: 1 %}
				{% for post in site.pages %}
					{% if post.layout == "series" and post.series == page.series and post.series_index == prev_page_index %}
						<strong><a class="prev-post" href="{{ post.url }}">&lt; 이전 포스트</a></strong>
						{% break %}
					{% endif %}
				{% endfor %}
			{% endif %}
			{% assign next_page_index = page.series_index | plus: 1 %}
			{% for post in site.pages %}
				{% if post.layout == "series" and post.series == page.series and post.series_index == next_page_index %}
					<strong><a class="next-post" href="{{ post.url }}">다음 포스트 &gt;</a></strong>
					{% break %}
				{% endif %}
			{% endfor %}
		</aside>
	</article>
</body>
</html>